.section-container {
    padding: 72px 120px;
    display: flex;
    justify-content: center;
}

.section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    max-width: 518px;
    text-align: center;
    margin-bottom: 53px;
}

.hero-cover-pic {
    margin-bottom: 100px;
    width: 100%;
}

.articles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
}

.date {
    margin-right: 80px;
}

.article {
    display: flex;
    flex-direction: column;
}

.article-heading {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.article-text {
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    color: #9c9c9c;
    font-size: 18px;
    font-weight: 400;
    max-width: 584px;

}

@media (max-width: 768px) {
    .section-container {
        padding: 20px 40px;
    }

    .section-header {
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .article-heading {
        font-size: 18px;
    }

    .article-text {
        font-size: 12px;
        gap: 10px;
    }
}

@media (max-width: 481px) {
    .section-header {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .section-description {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .hero-cover-pic {
        margin-bottom: 20px;
    }

    .articles {
        flex-direction: column;
    }

    .article-heading {
        font-size: 12px;
    }

    .article-text {
        font-size: 12px;
        gap: 10px;
    }
}