.footer-container {
    padding: 80px 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-heading {
    font-size: 36px;
    font-weight: 600;
    max-width: 481px;
}

.footer-heading-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    max-width: 126px;
}

.email-part {
    min-width: 432px;
    display: flex;
    flex-direction: column;
}

.email-header {
    display: flex;
    align-items: center;
}

.email-header-text {
    font-size: 18px;
    font-weight: 400;
}

.dot {
    width: 14px;
    height: 14px;
    background-color: #333333;
    border-radius: 50%;
    margin-right: 10px;
}

.email-input {
    border-bottom: 1px solid #333333;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.input {
    padding: 15px 0;
    width: 100%;
}

.send-btn {
    cursor: pointer;
}

.social {
    align-self: flex-end;
}

.social-header {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    gap: 25px;

}

.social-icon {
    width: 20px;
    height: 20px;
    padding: 6px;
    background-color: #D9D9D9;
    border-radius: 50px;
}

@media (max-width: 1201px) {
    .footer-heading {
        font-size: 32px;
    }

    .email-part {
        min-width: 0;
    }

    .email-header-text {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .dot {
        width: 10px;
        height: 10px;
    }


    ::placeholder {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: #D9D9D9;
        font-weight: 400;
    }
}

@media (max-width: 768px) {

    .footer-container {
        padding: 20px 40px;
    }

    .footer-heading {
        font-size: 24px;
    }

    ::placeholder {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: #D9D9D9;
        font-weight: 400;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
    }

    .email-header-text {
        font-size: 12px;
    }

    .social {
        align-self: center;
    }
}